<footer>
  <div id="footer-menu">
    <div class="container">
      <div class="row">
        <div class="col-md-3 text-center">
          <a href="https://buzon.denunciacorrupcion.cl/#/">Buzón de denuncia</a>
        </div>
        <div class="col-md-3 text-center">
          <a href="/que-es-un-alac/">Qué es un ALAC?</a>
        </div>
        <div class="col-md-3 text-center">
          <a href="/preguntas-frecuentes/">Preguntas frecuentes</a>
        </div>
        <div class="col-md-3 text-center">
          <a href="/material-informativo/">Material Informativo</a>
        </div>
      </div>
    </div>
  </div>
  <div id="footer-data">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img src="/assets/images/ChT-logo.png" alt="Chile Transparente - Transparency International">
        </div>
        <div class="col-md-4 text-center">
          <i class="fab fa-whatsapp"></i> {{site.whatsapp}} | {{site.email}}
        </div>
        <div class="col-md-4 text-right">
          <ul class="list-inline">
            <li><a href="https://facebook.com/{{site.facebook}}" target="_blank"><i class="fab fa-facebook fa-2x"></i></a></li>
            <li><a href="https://twitter.com/{{site.twitter}}" target="_blank"><i class="fab fa-twitter fa-2x"></i></a></li>
            <li><a href="https://youtube.com/{{site.youtube}}" target="_blank"><i class="fab fa-youtube fa-2x"></i></a></li>
            <li><a href="https://linkedin.com/company/{{site.linkedin}}" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>