<footer>
  <div id="footer-menu">
    <div class="container">
      <div class="row">
        <div class="col-md-3 text-center">
          <a href="https://buzon.denunciacorrupcion.cl/#/">Buzón de denuncia</a>
        </div>
        <div class="col-md-3 text-center">
          <a href="/que-es-un-alac/">Qué es un ALAC?</a>
        </div>
        <div class="col-md-3 text-center">
          <a href="/preguntas-frecuentes/">Preguntas frecuentes</a>
        </div>
        <div class="col-md-3 text-center">
          <a href="/material-informativo/">Material Informativo</a>
        </div>
      </div>
    </div>
  </div>
  <div id="footer-data">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          [logo]
        </div>
        <div class="col-md-4 text-center">
          <i class="fab fa-whatsapp"></i> {{site.whatsapp}} | {{site.email}}
        </div>
        <div class="col-md-4 text-right">
          <ul class="list-inline">
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>