<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3 logo">
        <img src="/assets/images/logo-footer.png" alt="ALAC"/>
      </div>
      <div class="col-md-3 tel">
        <span class="fono">{{site.whatsapp}}</span>
      </div>
      <div class="col-md-3">
        <span class="email">{{site.email}}</span>
      </div>
      <div class="col-md-3">
        <ul class="redes">
          <li><a class="facebook" href="https://facebook.com/{{site.facebook}}" target="_blank">Facebook</a></li>
          <li><a class="twitter" href="https://twitter.com/{{site.twitter}}" target="_blank">Twitter</a></li>
          <li><a class="youtube" href="https://youtube.com/{{site.youtube}}" target="_blank">Youtube</a></li>
          <li><a class="linkedin" href="https://linkedin.com/company/{{site.linkedin}}" target="_blank">Linkedin</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>