body {
  font-family: 'Lato';
}

.navbar {
  margin-bottom: 0px;
}

.navbar-default {
  background-color: #FFF;
  border-color: #FFF;
  .navbar-nav > li > a {
    color: #279BAF;
    &:hover {
      color: #279BAF;
    }
  }
}

#main-section {
  color: #FFF;
  background-color: #187292;

  .btn-main-section {
    border-radius: 15px;
    color: #FFF;
    background-color: #279BAF;
  }
}

#denuncialos {
  padding: 50px 0px;
  color: #FFF;
  background-color: #ff5366;
  .btn-como-denunciar {
    border-radius: 15px;
    color: #fff;
    background-color: #ff5366;
    border: 1px solid #fff;
  }
  .btn-denuncia {
    border-radius: 15px;
    color: #ff5366;
    background-color: #fff;
  }
}

#material-informativo {
  h3 {
    color: #279BAF;
  }
  padding: 50px 0px;

  .panel-default > .panel-heading {
    padding: 0px 0px;
  }
}

#colaboradores {
  h3 {
    color: #279BAF;
  }
  padding: 50px 0px;
}

#footer-menu {
  padding: 20px 0px;
  background-color: #279BAF;
  a {
    color: #FFF;
    &:hover {
      color: #FFF;
    }
  }
}

#faqs-section {
  color: #000;
  background-color: #F6F6F6;

  .panel-heading {
    border-radius: 5px;
    color: #000;
    background-color: #FFF;
  }
}

footer {
  padding: 20px 0px;
  background-color: #187292;
  color: #FFF;
  a {
    color: #FFF;
    &:hover {
      color: #FFF;
    }
  }
}