body {
  font-family: 'Lato';
}


.navbar-default .navbar-nav > li > a {
  color: #279BAF;
  &:hover {
    color: #279BAF;
  }

}

#main-section {
  color: #FFF;
  background-color: #187292;

  .btn-main-section {
    border-radius: 15px;
    color: #FFF;
    background-color: #279BAF;
  }
}

#denuncialos {
  color: #FFF;
  background-color: #F88D99;
}

#faqs-section {
  color: #2BA2B4;
  background-color: #F6F6F6;

  .panel {
    border: none;
    box-shadow: none;
    margin-bottom: 20px;
  }

  .panel-heading {
    background-image: none;
    border-radius: 5px;
    border: none;
    color: #2BA2B4;
    background-color: #FFF;
  }

  .panel-body {
    border-radius: 5px;
    border: none;
    color: #777777;
    background-color: #FFF;
    line-height: 30px;
    text-align: justify;
    text-justify: inter-word;
  }
}
