html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Lato';
  margin-bottom: 120px;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-default {
  background-image: none;
  background-color: #F9F9F9;
  border-color: #F9F9F9;
  .navbar-nav > li > a {
    color: #279BAF;
    &:hover {
      color: #279BAF;
    }
  }

}

#main-page{
  background-color: #fff;
}

#main-section {
  color: #FFF;
  background-color: #187292;

  .btn-main-section {
    margin-top: 50px;
    border-radius: 15px;
    color: #FFF;
    background-color: #279BAF;
  }
}

#page, #simple-page {
  h1 {
    padding-bottom: 30px;
  }

  h2,h3,h4,h5,h6 {
    color: #279BAF;
  }

  .description {
    font-style: italic;
  }

  #page-sidebar {
    li{
      padding-bottom: 15px;
      span {
        color: #187292;
        font-weight: bold;
        display: block;
        padding-bottom: 5px;
        text-transform: uppercase;
      }
    }
  }
}

#material-informativo {
  li {
    border-bottom: 2px solid #279BAF;
    margin-top: 30px;
    padding-bottom: 15px;

    .category {
      color: #ff5366;
    }

    h3 {
      a {
        color: #279BAF;
        &:hover {
          color: #279BAF;
        }
      }
    }

    i {
      position: relative;
      top: -37px;
      color: #279BAF;
      float: right;
    }

    .description {
      color: #4e4e4e;
    }

  }
}

#denuncialos {
  padding: 50px 0px;
  color: #FFF;
  background-color: #ff5366;
  .btn-como-denunciar {
    border-radius: 15px;
    color: #fff;
    background-color: #ff5366;
    border: 1px solid #fff;
  }
  .btn-denuncia {
    border-radius: 15px;
    color: #ff5366;
    background-color: #fff;
  }
}

#material-informativo-main {
  h3 {
    color: #279BAF;
  }
  padding: 50px 0px;

  .panel {
    border-radius: 0px;
    max-height: 396px;
    min-height: 396px;
  }

  .panel-default {
    border-color: #279BAF;
  }

  .panel-default > .panel-heading {
    padding: 0px 0px;
    border: 0;
    background: none;
  }

  .panel.panel-default > .panel-body.no-img {
    padding-top: 120px;
  }

  .btn-more-materials {
    background-color: #279BAF;
    color: #fff;
  }
}

#colaboradores {
  h3 {
    color: #279BAF;
  }
  padding: 50px 0px;
}

#faqs-section {
  color: #2BA2B4;
  background-color: #F6F6F6;

  .faq_title {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }

  .panel {
    border: none;
    box-shadow: none;
    margin-bottom: 20px;
  }

  .panel-heading {
    background-image: none;
    border-radius: 5px;
    border: none;
    color: #2BA2B4;
    background-color: #FFF;
  }

  .panel-body {
    border-radius: 5px;
    border: none;
    color: #777777;
    background-color: #FFF;
    line-height: 30px;
    text-align: justify;
    text-justify: inter-word;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;

  #footer-menu {
    padding: 20px 0px;
    background-color: #279BAF;
    a {
      color: #FFF;
      &:hover {
        color: #FFF;
      }
    }
  }

  #footer-data {
    padding: 20px 0px;
    background-color: #187292;
    color: #FFF;
    a {
      color: #FFF;
      &:hover {
        color: #FFF;
      }
    }
  }
}
