<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    {% if page.img_related %}
    <div class="container-fluid" style="background-image: url({{page.img_related}}); min-height: 350px; background-repeat: no-repeat; background-position: center; background-size: cover;"></div>
    {% endif %}
    <div id="page" class="container">
      <div class="row">
        <div class="col-md-3">
          <h4></h4>
          <ul id="page-sidebar" class="list-unstyled">
            <li>
              <span>Autor:</span> {{page.autor}}
            </li>
            <li>
              <span>Fecha:</span> {{page.date | date: "%d %B, %y"}}
            </li>
            <li>
              <span>Compartir:</span>
              <ul class="list-inline">
                <li>
                  <a href="#"onclick="window.open('https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}', 'twitter-share-dialog', 'width=626,height=436');">
                    <span class="fa-stack">
                      <i class="far fa-circle fa-stack-2x"></i>
                      <i class="fab fa-twitter fa-stack-1x"></i>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#" onclick="window.open('https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}', 'facebook-share-dialog', 'width=626,height=436');">
                    <span class="fa-stack">
                      <i class="far fa-circle fa-stack-2x"></i>
                      <i class="fab fa-facebook-f fa-stack-1x"></i>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#" onclick="window.open('https://www.linkedin.com/shareArticle?mini=false&url={{site.url}}{{page.url}}&title={{page.title | url_encode}}', 'linkedin-share-dialog', 'width=626,height=436');">
                    <span class="fa-stack">
                      <i class="far fa-circle fa-stack-2x"></i>
                      <i class="fab fa-linkedin-in fa-stack-1x"></i>
                    </span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="col-md-9">
          <h2>{{page.title}}</h2>
          {% if page.description %}<p class="description">{{page.description}}</p>{% endif %}
          {{ content }}
        </div>
      </div>

    </div>

    {% include footer.html %}

  </body>

</html>