<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="interior uno">

    {% include header.html %}

    <main>
      <section id="que-es">
        <div class="container-fluid">
          <div class="row no-gutters">
            <div class="col-lg-6 text-left alac">
              <div class="row no-gutters">
                <div class="col-lg-2 d-none d-lg-block d-xl-block">
                  <ul class="redes">
                    <li><a class="facebook" href="https://facebook.com/{{site.facebook}}" target="_blank">Facebook</a></li>
                    <li><a class="twitter" href="https://twitter.com/{{site.twitter}}" target="_blank">Twitter</a></li>
                    <li><a class="youtube" href="https://youtube.com/{{site.youtube}}" target="_blank">Youtube</a></li>
                    <li><a class="linkedin" href="https://linkedin.com/company/{{site.linkedin}}" target="_blank">Linkedin</a></li>
                   </ul>
                </div>
                <div class="col-lg-6"></div>
              </div>
            </div>
            <div class="col-lg-12 text-center big-banner">
              {% if page.img_related %}
              <img class="img-fluid" src="{{page.img_related}}" />
              {% endif %}
            </div>
          </div>
        </div>
      </section>

      <section id="contenido">
        <div class="container">
          <div class="row">
            <div class="col-md-3 sidebar-left">

              <h3>Enlance</h3>

              <span class="label">Fecha</span>
              <span class="fecha">{{page.date | date: "%d %B, %y"}}</span>

              <span class="label">Publicado por</span>
              <span class="publicado">{{page.autor}}</span>

              <span class="label">Compartir</span>
              <ul class="redes share">
                <li>
                  <a class="facebook" href="#" onclick="window.open('https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}', 'facebook-share-dialog', 'width=626,height=436');">Facebook</a>
                </li>
                <li>
                  <a class="twitter" href="#" onclick="window.open('https://twitter.com/intent/tweet?text={{ page.title | url_encode }}&url={{ site.url }}{{ page.url }}', 'twitter-share-dialog', 'width=626,height=436');">Twitter</a>
                </li>
              </ul>
            </div>

            <div class="col-md-9 articulo">
              <h2 class="titulo">{{page.title}}</h2>

              <p class="bajada">{{page.description}}</p>

              {{content}}
            </div>

          </div>
        </div>
      </section>

    {% include footer.html %}

  </body>

</html>